@import "./vendors/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@media screen and (min-width: 993px) {
  /* Desktop mode */
}
/* Common (sass/base/_base.scss)
========================================================================== */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* html font-size = 62.5% = 10px */
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* Tablet mode */
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 993px) {
  /* Desktop mode */
  html {
    font-size: 40%;
  }
}
*, ::before, ::after {
  /* box-sizing applied to all elements */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Roboto", "sans-serif";
  font-size: 2.5rem;
}

h1 {
  /* Logo title */
  font-family: "Shrikhand", "sans-serif";
  font-size: 4.3rem;
}

h2 {
  /* Restaurants titles */
  font-family: "Shrikhand", "sans-serif";
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
}

h3 {
  /* Sections titles */
  font-family: "Roboto", "sans-serif";
  font-size: 3.5rem;
  font-weight: 900;
}

h4 {
  /* Card titles */
  font-family: "Roboto", "sans-serif";
  font-size: 2.6rem;
  font-weight: 900;
}

h5 {
  /* Menu titles */
  font-family: "Roboto", "sans-serif";
  font-size: 2.2rem;
  font-weight: 300;
}

h6 {
  /* Footer title */
  font-family: "Shrikhand", "sans-serif";
  font-size: 2.8rem;
  font-weight: 400;
  color: #fff;
}

.thumbnail-title-ftsize {
  font-size: 2.5rem;
  font-weight: 700;
}

.thumbnail-price-ftsize {
  font-size: 2.1rem;
  font-weight: 900;
  color: #353535;
}

.description {
  /* thumbnail dishes descriptions */
  font-size: 2.14rem;
  font-weight: 400;
}

input::placeholder {
  font-size: 2.2rem;
  font-weight: 700;
  color: black;
  opacity: 100%;
  /* Firefox */
  font-family: "Roboto", "sans-serif";
  /* Firefox */
}

input[type=search] {
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

/* components/_components.scss (common buttons)
================================================================================================ */
/* Header arrow button */
.header__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.4rem;
  position: absolute;
  left: 0;
}
.header__arrow__btn {
  font-size: 3rem;
  display: flex;
  height: 9.4rem;
  width: 9.4rem;
  justify-content: center;
  align-items: center;
}

/* Big button */
.btn {
  border: none;
  border-radius: 5rem;
  padding: 2.5rem 3.2rem;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  background: linear-gradient(355deg, #4a4a9e 0%, #9356dc 0%, #ff79da 100%);
  box-shadow: 0rem 0.1rem 1rem #bababa;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.btn:hover .btn__bg {
  opacity: 0.8;
}
.btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(360deg, #9a9aff 0%, #c595ff 0%, #ffbaeb 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 5rem;
  box-shadow: 0rem 0.1rem 1.5rem #bdbdbd;
}

/* Nav button (Homepage/1st section/Nav-field) */
.nav-btn {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 4rem 0rem;
  margin: 0rem 2.5rem 3rem 1.5rem;
  border-radius: 2.8rem;
  box-shadow: 0rem 0.4rem 1.5rem #dfdfdf;
  position: relative;
  z-index: 1;
}
.nav-btn__order {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #9356dc;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  font-size: 2rem;
  position: relative;
  left: -1.8rem;
}
.nav-btn__icon {
  display: flex;
  justify-content: center;
  color: #7e7e7e;
  font-size: 2.6rem;
  margin: 0rem 1.8rem;
  position: relative;
  z-index: 1;
}
.nav-btn__icon--clr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #9356dc;
  opacity: 0;
  transition: opacity 250ms;
}
.nav-btn__txt {
  font-weight: 700;
  margin-left: 2rem;
}
.nav-btn:hover .nav-btn__icon--clr {
  opacity: 1;
}
.nav-btn:hover .nav-btn__bg {
  opacity: 1;
}
.nav-btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5edff;
  opacity: 0;
  z-index: -1;
  box-shadow: 0rem 0.1rem 1.5rem #bdbdbd;
  transition: opacity 250ms;
  border-radius: 2.8rem;
}

/* Card (Homepage/2nd section/deck) */
.card {
  display: flex;
  height: 37.9rem;
  width: 100%;
  box-shadow: 0rem 0.4rem 1.5rem #dfdfdf;
  border-radius: 2rem;
  margin-bottom: 2.5rem;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.card__figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.card__figure__img {
  height: 69%;
  width: 100%;
  overflow: hidden;
  border-radius: 2rem 2rem 0rem 0rem;
  position: relative;
}
.card__figure__img__new {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 700;
  color: #139273;
  background-color: #99e2d0;
  height: 4rem;
  padding: 0rem 2rem;
  border-radius: 0.5rem;
}
.card__figure__img__bg-img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.card__figure__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}
.card__figure__body__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 1.9rem 0rem 2.1rem 2rem;
}
.card:hover .card--hover {
  opacity: 1;
}
.card--hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0rem 0.1rem 1.5rem #bdbdbd;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 2rem;
}

/* Homepage Heart hover & checked */
.heart-container {
  display: flex;
  position: absolute;
  bottom: 6.7rem;
  right: 4rem;
  z-index: 2;
}
.heart-container .slider {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.heart-container .slider__heart {
  font-size: 3.5rem;
}
.heart-container .slider__heart--hover {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(#9356dc, #FF79da);
  -webkit-background-clip: text;
  -moz-background-clip: txt;
  -webkit-text-fill-color: transparent;
  -moz-text-decoration-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-shadow: 0rem 0.4rem 1.5rem #dfdfdf;
}
.heart-container .slider__heart--checked {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(#9356dc, #FF79da);
  -webkit-background-clip: text;
  -moz-background-clip: txt;
  -webkit-text-fill-color: transparent;
  -moz-text-decoration-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.heart-container .slider:hover {
  -webkit-animation: heart-hover 1100ms;
  -moz-animation: heart-hover 1100ms;
  animation: heart-hover 1100ms;
  animation-iteration-count: infinite;
}
.heart-container .slider:hover .slider__heart--hover {
  opacity: 1;
  z-index: 3;
}
.heart-container input:checked + .slider .slider__heart--checked {
  -webkit-animation: heart-checked 1200ms;
  -moz-animation: heart-checked 1200ms;
  animation: heart-checked 1200ms;
  animation-fill-mode: both;
  z-index: 4;
}

/* Menu page Heart hover & checked */
.heart-menu {
  display: flex;
  position: relative;
  top: 0.6rem;
  left: -2.6rem;
}
.heart-menu__slider {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.heart-menu__slider__heart {
  font-size: 3.5rem;
}
.heart-menu__slider__heart--hover {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(#9356dc, #FF79da);
  -webkit-background-clip: text;
  -moz-background-clip: txt;
  -webkit-text-fill-color: transparent;
  -moz-text-decoration-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-shadow: 0rem 0.4rem 1.5rem #dfdfdf;
}
.heart-menu__slider__heart--checked {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(#9356dc, #FF79da);
  -webkit-background-clip: text;
  -moz-background-clip: txt;
  -webkit-text-fill-color: transparent;
  -moz-text-decoration-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.heart-menu__slider:hover {
  -webkit-animation: heart-hover 1100ms;
  -moz-animation: heart-hover 1100ms;
  animation: heart-hover 1100ms;
  animation-iteration-count: infinite;
}
.heart-menu__slider:hover .heart-menu__slider__heart--hover {
  opacity: 1;
  z-index: 3;
}
.heart-menu input:checked + .heart-menu__slider .heart-menu__slider__heart--checked {
  -webkit-animation: heart-checked 1200ms;
  -moz-animation: heart-checked 1200ms;
  animation: heart-checked 1200ms;
  animation-fill-mode: both;
  z-index: 4;
}

/* Keyframes Heart hover & checked */
@keyframes heart-hover {
  0% {
    transform: scale(1.4);
    opacity: 0.5;
  }
  40% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heart-checked {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  15% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
/* layout/_homepage.scss
================================================================================================ */
/* Header */
.header {
  display: flex;
  justify-content: center;
  height: 9.4rem;
  box-shadow: 0rem 0.1rem 0.8rem #bdbdbd;
  position: relative;
}
.header__title {
  display: flex;
  align-items: center;
}

/* Footer */
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 29.5rem;
  padding-left: 3.2rem;
}
.footer__h6 {
  margin: 3rem 0rem 2.9rem 0rem;
}
.footer__ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.footer__ul__a {
  display: flex;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.footer__ul__a i {
  width: 4rem;
}
.footer__ul__a p {
  font-size: 2.15rem;
}

@media screen and (min-width: 769px) {
  /* Tablet mode */
  .footer {
    align-items: center;
    padding-left: 0rem;
  }
  .footer ul {
    align-items: center;
  }
}
/* pages/_homepage.scss
================================================================================================ */
/* Loader-section */
.loader-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #9356dc;
  width: 100%;
  height: 100vh;
  -webkit-animation: loader-screen 4000ms forwards;
  -moz-animation: loader-screen 4000ms forwards;
  animation: loader-screen 4000ms forwards;
}
.loader-section__victim {
  display: flex;
  position: relative;
  right: 2rem;
  font-size: 10rem;
}
.loader-section__victim__happy {
  position: relative;
  -webkit-animation: happy 500ms forwards;
  -moz-animation: happy 500ms forwards;
  animation: happy 500ms forwards;
}
.loader-section__victim__shocked {
  position: absolute;
  opacity: 0;
  -webkit-animation: shocked 1500ms 500ms;
  -moz-animation: shocked 1500ms 500ms;
  animation: shocked 1500ms 500ms;
}
.loader-section__victim__oh {
  position: absolute;
  opacity: 0;
  -webkit-animation: oh 1000ms 2000ms;
  -moz-animation: oh 1000ms 2000ms;
  animation: oh 1000ms 2000ms;
}
.loader-section__cookie {
  position: relative;
  font-size: 6rem;
}
.loader-section__cookie__full {
  -webkit-animation: cookie-bite 1000ms forwards;
  -moz-animation: cookie-bite 1000ms forwards;
  animation: cookie-bite 1000ms forwards;
  position: absolute;
}
.loader-section__cookie__bite {
  opacity: 0;
  -webkit-animation: cookie-eaten 1000ms 1000ms forwards;
  -moz-animation: cookie-eaten 1000ms 1000ms forwards;
  animation: cookie-eaten 1000ms 1000ms forwards;
}
.loader-section__ghost {
  font-size: 12rem;
  position: relative;
  left: 2rem;
  -webkit-animation: ghost-stealer 2500ms forwards;
  -moz-animation: ghost-stealer 2500ms forwards;
  animation: ghost-stealer 2500ms forwards;
  position: relative;
  opacity: 0;
}

@keyframes loader-screen {
  75% {
    transform: translateY(0);
    height: 100vh;
  }
  100% {
    transform: translateY(-100vh);
    height: 0;
  }
}
@keyframes happy {
  100% {
    visibility: hidden;
  }
}
@keyframes shocked {
  0% {
    transform: translateX(0rem) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-5rem) rotate(-25deg);
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes oh {
  0% {
    transform: translateX(-5rem) rotate(-25deg) scale(1);
    opacity: 1;
  }
  60% {
    transform: translateX(-5rem) rotate(-25deg) scale(1);
  }
  69% {
    transform: translateX(0) rotate(0) scale(1);
  }
  100% {
    transform: translateX(8rem) rotate(0) scale(3);
    opacity: 1;
  }
}
@keyframes cookie-bite {
  50% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(10%);
  }
  60% {
    transform: translateX(-10%);
  }
  65% {
    transform: translateX(10%);
  }
  70% {
    transform: translateX(-10%);
  }
  75% {
    transform: translate(10%);
  }
  80% {
    transform: translateX(-10%);
  }
  85% {
    transform: translateX(10%);
  }
  90% {
    transform: translateX(-10%);
  }
  95% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
    visibility: hidden;
  }
}
@keyframes cookie-eaten {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(10%);
  }
  60% {
    transform: translateX(-10%);
  }
  65% {
    transform: translateX(10%);
  }
  70% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(10%);
  }
  80% {
    transform: translateX(-10%);
  }
  85% {
    transform: translateX(10%);
  }
  90% {
    transform: translateX(-10%);
  }
  95% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes ghost-stealer {
  15% {
    transform: translateX(5rem);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateY(0);
  }
  42% {
    transform: translateY(-10%);
  }
  44% {
    transform: translateY(0);
  }
  46% {
    transform: translateY(-10%);
  }
  48% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  52% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  82% {
    transform: translateY(-10%);
  }
  84% {
    transform: translateY(0);
  }
  86% {
    transform: translateY(-10%);
  }
  88% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-10%);
  }
  92% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(5rem);
    opacity: 0;
  }
}
/* Homepage */
.index {
  visibility: hidden;
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-animation: display-index 4000ms forwards;
  -moz-animation: display-index 4000ms forwards;
  animation: display-index 4000ms forwards;
}

@keyframes display-index {
  75% {
    height: 0;
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
}
/* (Homepage) 1st section */
.First-section {
  display: flex;
  flex-direction: column;
}

/* (Homepage/1st section) Search field */
.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 7.4rem;
}
.search-field__label {
  font-size: 2.4rem;
  height: 100%;
  width: 4rem;
  display: flex;
  align-items: center;
}
.search-field__input {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.search-field__input--position {
  background-color: unset;
  padding: 1rem 0rem 1rem 0.5rem;
  width: 21rem;
  border: none;
}

/* (Homepage/1st section) Regroup-fields (Explore-field, Notice-field) */
.regroup-fields {
  display: flex;
  flex-direction: column;
}

/* (Homepage/1st section) Explore-field */
.regroup-fields__explore-field {
  background-color: #f6f6f6;
  height: 43.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regroup-fields__explore-field__h3 {
  display: inline-block;
  margin: 6.8rem 0rem 0rem 3rem;
  margin-top: 5.8rem;
  text-align: center;
  width: 68%;
}
.regroup-fields__explore-field__txt {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  width: 80%;
  color: #373737;
  font-weight: 300;
  text-shadow: 0rem 0.1rem 0.2rem #b1b1b1;
}
.regroup-fields__explore-field__btn {
  margin-top: 4.6rem;
  cursor: pointer;
}

/* (Homepage/1st section) Nav-field */
.regroup-fields__nav-field {
  height: 66rem;
  display: flex;
  flex-direction: column;
}
.regroup-fields__nav-field__h3 {
  display: inline-block;
  margin: 6.8rem 0rem 0rem 3rem;
}
.regroup-fields__nav-field__btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 4.4rem;
  padding-left: 3.5rem;
  list-style-type: none;
}

/* (Homepage/1st section) Tablet mode */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .regroup-fields {
    flex-direction: row;
    padding-right: 1.5rem;
  }
  .regroup-fields__explore-field {
    height: 66rem;
    width: 50%;
    background-color: unset;
    justify-content: space-between;
  }
  .regroup-fields__explore-field__h3 {
    margin-top: 6.8rem;
  }
  .regroup-fields__explore-field__btn {
    margin-bottom: 12rem;
  }
  .regroup-fields__nav-field {
    width: 50%;
  }
  .regroup-fields__nav-field__h3 {
    text-align: center;
  }
}
/* (Homepage/1st section) Desktop mode */
@media screen and (min-width: 993px) {
  .regroup-fields__explore-field {
    height: 33rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .regroup-fields__explore-field__h3 {
    margin-top: 0rem;
  }
  .regroup-fields__explore-field__btn {
    margin-bottom: 0;
  }
  .regroup-fields__nav-field {
    height: 33rem;
    width: 100%;
  }
  .regroup-fields__nav-field__h3 {
    text-align: center;
    margin-left: 0;
  }
  .regroup-fields__nav-field__btn-container {
    flex-direction: row;
    justify-content: center;
  }
  .regroup-fields__nav-field__btn-container .nav-btn {
    width: 46rem;
  }
}
/* (Homepage) 2nd section */
.second-section {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  height: 184rem;
}
.second-section__h3 {
  display: inline-block;
  margin: 6.8rem 0rem 0rem 3rem;
}
.second-section__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.5rem 3rem 0rem 3rem;
}
.second-section__article__deck {
  display: flex;
  width: 100%;
  position: relative;
}

/* (Homepage/2nd section) Desktop mode */
@media screen and (min-width: 993px) {
  .second-section {
    height: 109rem;
  }
  .second-section__h3 {
    text-align: center;
    margin-left: 0;
  }
  .second-section__article {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .second-section__article__deck {
    width: 45%;
  }
}
/* pages/_menu.scss
================================================================================================ */
/* Menu section */
.bg-menu {
  position: absolute;
  height: 31.5rem;
  width: 100%;
  z-index: -10;
}
.bg-menu__dish-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 130%;
  width: 100%;
}

.menu-section {
  background-color: #f6f6f6;
  height: 165.5rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  margin-top: 31.5rem;
}
.menu-section__header {
  display: flex;
  justify-content: space-between;
  margin: 5rem 3.2rem 4rem 3.2rem;
}
.menu-section__menu {
  height: 10rem;
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem;
}
.menu-section__menu__starters {
  display: flex;
  flex-direction: column;
}
.menu-section__menu__dishes {
  display: flex;
  flex-direction: column;
}
.menu-section__menu__desserts {
  display: flex;
  flex-direction: column;
}

#height-extend {
  height: 177.3rem;
}

/* Starters articles */
.aside {
  margin-bottom: 2.5rem;
}
.aside__title {
  display: inline-block;
  margin-left: 1rem;
}
.aside__bar {
  width: 6rem;
  border-bottom: 0.4rem solid #99e2d0;
  margin: 0.8rem 0rem 2.4rem 1rem;
}
.aside__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

/* Menu thumbnail */
.slider-menu {
  background-color: #fff;
  height: 10.2rem;
  border-radius: 2rem;
  box-shadow: 0rem 0.4rem 1.5rem #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.6rem;
}
.slider-menu__desription-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-menu__desription-block__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  padding-left: 1.8rem;
  flex: 1;
  min-width: 5rem;
}
.slider-menu__desription-block__txt .text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.slider-menu__desription-block__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 9rem;
}
.slider-menu--hover {
  background-color: #99e2d0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 100%;
  width: 0rem;
  transform: translateX(9rem);
  transition: 300ms;
}
.slider-menu:hover .slider-menu__desription-block {
  min-width: 50%;
}
.slider-menu:hover .slider-menu--hover {
  transform: translateX(0);
  transition: 300ms;
  width: 10rem;
}

/* Menu button */
.menu-section__menu__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.menu-section__menu__btn-container__btn {
  width: 27rem;
}

@media screen and (min-width: 993px) {
  .menu-section {
    height: 75rem;
  }
  .menu-section__menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu-section__menu__starters {
    width: 32%;
  }
  .menu-section__menu__dishes {
    width: 32%;
  }
  .menu-section__menu__desserts {
    width: 32%;
  }
  .menu-section__menu__btn-container {
    width: 100%;
  }

  #height-extend {
    height: 86.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
