@import "./vendors/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Common (sass/base/_base.scss)
========================================================================== */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* html font-size = 62.5% = 10px */
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* Tablet mode */
  html {
    font-size: 55%;
  }
}
@media screen and (min-width: 993px) {
  /* Desktop mode */
  html {
    font-size: 40%;
  }
}
*, ::before, ::after {
  /* box-sizing applied to all elements */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Roboto", "sans-serif";
  font-size: 2.5rem;
}

h1 {
  /* Logo title */
  font-family: "Shrikhand", "sans-serif";
  font-size: 4.3rem;
}

h2 {
  /* Restaurants titles */
  font-family: "Shrikhand", "sans-serif";
  font-size: 4.5rem;
}

h3 {
  /* Sections titles */
  font-family: "Roboto", "sans-serif";
  font-size: 3.3rem;
  font-weight: 900;
}

input::-moz-placeholder {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0rem 0.1rem 0.1rem #b1b1b1;
}

input:-ms-input-placeholder {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0rem 0.1rem 0.1rem #b1b1b1;
}

input::placeholder {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0rem 0.1rem 0.1rem #b1b1b1;
}

/* components/components.scss (common buttons)
================================================================================================ */
/* Header arrow button */
.header__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.4rem;
}
.header__arrow--btn {
  display: flex;
  height: 9.4rem;
  width: 9.4rem;
  justify-content: center;
  align-items: center;
}

/* Big button */
.btn {
  border: none;
  border-radius: 5rem;
  padding: 2.6rem 3.2rem;
  color: #fff;
  font-size: 2.25rem;
  font-weight: 500;
  background: linear-gradient(355deg, #4a4a9e 0%, #9356dc 10%, #ff79da 100%);
  box-shadow: 0rem 0.1rem 2rem #d0d0d0;
  position: relative;
  z-index: 1;
}
.btn:hover .btn__bg {
  opacity: 0.8;
}
.btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(355deg, #9a9aff 0%, #c595ff 50%, #ffbaeb 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 5rem;
  box-shadow: 0rem 0.1rem 0.8rem silver;
}

/* layout/homepage.scss
================================================================================================ */
/* Header */
.header {
  display: flex;
  justify-content: center;
  height: 9.4rem;
  box-shadow: 0rem 0.1rem 0.8rem silver;
  position: relative;
}
.header__title {
  /* width: 73%; with header__arrow--btn on menu pages */
  display: flex;
  align-items: center;
}

/* Section 1 */
.First-section {
  display: flex;
  flex-direction: column;
}

/* pages/homepage.scss
================================================================================================ */
/* Search field */
.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 7.4rem;
}
.search-field__label {
  font-size: 2.4rem;
  height: 100%;
  width: 4rem;
  display: flex;
  align-items: center;
}
.search-field__input {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.search-field__input--position {
  background-color: unset;
  padding: 1rem 0rem 1rem 0.5rem;
  width: 21rem;
  border: none;
}

/* Regroup-field */
.regroup-fields {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .regroup-fields {
    flex-direction: row;
  }
}
/* Explore-field */
.regroup-fields__explore-field {
  background-color: #f6f6f6;
  height: 43.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regroup-fields__explore-field--h3 {
  display: inline-block;
  text-align: center;
  margin: 5.8rem 0rem 0rem 0rem;
  width: 68%;
}
.regroup-fields__explore-field--txt {
  display: inline-block;
  text-align: center;
  margin: 2.6rem 0rem 0rem 0rem;
  width: 80%;
  color: #373737;
  font-weight: 300;
  text-shadow: 0rem 0.1rem 0.2rem #b1b1b1;
}
.regroup-fields__explore-field--btn {
  margin-top: 4.5rem;
}/*# sourceMappingURL=main.css.map */