/* layout/homepage.scss
================================================================================================ */

/* Header */

.header {
    display: flex;
    justify-content: center;
    height: 9.4rem;
    box-shadow: 0rem 0.1rem 0.8rem #bdbdbd;
    position: relative;

    &__title {
        /* width: 73%; with header__arrow--btn on menu pages */
        display: flex;
        align-items: center;
    }
}

/* Footer */

.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    height: 29.5rem;
    padding-left: 3.2rem;
    
    &__h6 {
        margin: 3rem 0rem 2.9rem 0rem;
    }

    &__ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        
        &__a {
            display: flex;
            color: #fff;
            font-size: 1.8rem;
            font-weight: $medium;
            margin-bottom: 1.4rem;

            & i {
                width: 4rem;
            }

            & p {
                font-size: 2.15rem;
            }
        }
    }
}

@media screen and (min-width: 769px){ /* Tablet mode */

    .footer {
        align-items: center;
        padding-left: 0rem;

        & ul {
            align-items: center;
        }
    }
}