// Font Shrikhand

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// Font Roboto

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Common (sass/base/_base.scss)
========================================================================== */

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* html font-size = 62.5% = 10px */
}

@media screen and (min-width: 769px) and (max-width: 992px) { /* Tablet mode */

    html {
        font-size: 50%;
    }
}

@media screen and (min-width: 993px) { /* Desktop mode */

    html {
        font-size: 40%;
    }
}

*, ::before, ::after { /* box-sizing applied to all elements */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: $ft-robot;
    font-size: 1.4rem;
}

@media screen and (min-width: 769px) {

    p {
        font-size: 2.5rem;
    }
}

h1 { /* Logo title */
    font-family: $ft-shrik;
    font-size: 2.8rem;
}

@media screen and (min-width: 769px) {

    h1 { /* Logo title */
        font-size: 4.3rem;
    }
}

h2 { /* Restaurants titles */
    font-family: $ft-shrik;
    font-size: 2.15rem;
    letter-spacing: 0.1rem;
}

@media screen and (min-width: 769px) {

    h2 { /* Restaurants titles */
        font-size: 3.6rem;
    }
}

h3 { /* Sections titles */
    font-family: $ft-robot;
    font-size: 2.2rem;
    font-weight: $bolder;
    letter-spacing: -0.05rem;
}

@media screen and (min-width: 769px) {

    h3 { /* Sections titles */
        font-size: 3.5rem;
    }
}

h4 { /* Card titles */
    font-family: $ft-robot;
    font-size: 1.8rem;
    font-weight: $bolder;
}

@media screen and (min-width: 769px) {

    h4 { /* Card titles */
        font-size: 2.6rem;
    }
}

h5 { /* Menu titles */
    font-family: $ft-robot;
    font-size: 1.4rem;
    font-weight: $light;
}

@media screen and (min-width: 769px) {

    h5 { /* Menu titles */
        font-size: 2.2rem;
    }
}

h6 { /* Footer title */
    font-family: $ft-shrik;
    font-size: 1.8rem;
    font-weight: $regular;
    color: #fff;
}

@media screen and (min-width: 769px) {

    h6 { /* Footer title */
        font-size: 2.8rem;
    }
}

.thumbnail-title-ftsize {
    font-family: $ft-robot;
    font-size: 1.5rem;
    font-weight: $bold;
}

@media screen and (min-width: 769px) {

    .thumbnail-title-ftsize {
        font-size: 2.7rem;
    }
}

.thumbnail-price-ftsize {
    font-size: 1.3rem;
    font-weight: $bolder;
    color: #353535;
}

@media screen and (min-width: 769px) {

    .thumbnail-price-ftsize {
        font-size: 2.1rem;
    }
}

.description { /* thumbnail dishes descriptions */
    font-family: $ft-robot;
    font-size: 1.3rem;
    font-weight: $light;
}

@media screen and (min-width: 769px) {

    .description { /* thumbnail dishes descriptions */
        font-size: 2.4rem;
    }
}

input::placeholder {
    @include font-standard;
    color: black;
    opacity: 100%; /* Firefox */
    font-family: $ft-robot; /* Firefox */
    font-size: 1.8rem;
}

@media screen and (min-width: 769px) and (max-width: 992px) {

    input::placeholder {
        font-size: 2rem;
    }
}

@media screen and (min-width: 993px) {

    input::placeholder {
        font-size: 2.5rem;
    }
}

input[type="search"] {
    cursor:pointer;
}

input[type="checkbox"] {
    cursor: pointer;
    display: none;
}