/* pages/homepage.scss
================================================================================================ */
/* Loader-section */

.loader-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: $primary-clr;
    width: 100%;
    height: 100vh;
    -webkit-animation: loader-screen 4000ms forwards;
    -moz-animation: loader-screen 4000ms forwards;
    animation: loader-screen 4000ms forwards;

    &__victim {
        display: flex;
        position: relative;
        right: 2rem;
        font-size: 10rem;

        &__happy {
            position: relative;
            -webkit-animation: happy 500ms forwards;
            -moz-animation: happy 500ms forwards;
            animation: happy 500ms forwards;
        }

        &__shocked {
            position: absolute;
            opacity: 0;
            -webkit-animation: shocked 1500ms 500ms;
            -moz-animation: shocked 1500ms 500ms;
            animation: shocked 1500ms 500ms;
        }

        &__oh {
            position: absolute;
            opacity: 0;
            -webkit-animation: oh 1000ms 2000ms;
            -moz-animation: oh 1000ms 2000ms;
            animation: oh 1000ms 2000ms;
        }
    }

    &__cookie {
        position: relative;
        font-size: 6rem;

        &__full {
            -webkit-animation: cookie-bite 1000ms forwards;
            -moz-animation: cookie-bite 1000ms forwards;
            animation: cookie-bite 1000ms forwards;
            position: absolute;
        }

        &__bite {
            opacity: 0;
            -webkit-animation: cookie-eaten 1000ms 1000ms forwards;
            -moz-animation: cookie-eaten 1000ms 1000ms forwards;
            animation: cookie-eaten 1000ms 1000ms forwards;
        }
    }

    &__ghost {
        font-size: 12rem;
        position: relative;
        left: 2rem;
        -webkit-animation: ghost-stealer 2500ms forwards;
        -moz-animation: ghost-stealer 2500ms forwards;
        animation: ghost-stealer 2500ms forwards;
        position: relative;
        opacity: 0;
    }
}

@keyframes loader-screen {
    75% {
        transform: translateY(0);
        height: 100vh;
    }
    100% {
        transform: translateY(-100vh);
        height: 0;
    }
}

@keyframes happy {
    100% {
        visibility: hidden;
    }
}

@keyframes shocked {
    0% {
        transform: translateX(0rem) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateX(-5rem) rotate(-25deg);
        opacity: 1;
        visibility: hidden;
    }
}

@keyframes oh {
    0% {
        transform: translateX(-5rem) rotate(-25deg) scale(1);
        opacity: 1;
    }
    60% {
        transform: translateX(-5rem) rotate(-25deg) scale(1);
    }
    69% {
        transform: translateX(0) rotate(0) scale(1);
    }
    100% {
        transform: translateX(8rem) rotate(0) scale(3);
        opacity: 1;
    }
}

@keyframes cookie-bite {
    50% {
        transform: translateX(0);
    }
    55% {
        transform: translateX($shake-intensity);
    }
    60% {
        transform: translateX(-$shake-intensity);
    }
    65% {
        transform: translateX($shake-intensity);
    }
    70% {
        transform: translateX(-$shake-intensity);
    }
    75% {
        transform: translate($shake-intensity);
    }
    80% {
        transform: translateX(-$shake-intensity);
    }
    85% {
        transform: translateX($shake-intensity);
    }
    90% {
        transform: translateX(-$shake-intensity);
    }
    95% {
        transform: translateX($shake-intensity);
    }
    100% {
        transform: translateX(-$shake-intensity);
        visibility: hidden;
    }
}

@keyframes cookie-eaten {
    0% {
        opacity: 1;
    }
    50% {
        transform: translateX(0);
    }
    55% {
        transform: translateX($shake-intensity);
    }
    60% {
        transform: translateX(-$shake-intensity);
    }
    65% {
        transform: translateX($shake-intensity);
    }
    70% {
        transform: translateX(-$shake-intensity);
    }
    75% {
        transform: translateX($shake-intensity);
    }
    80% {
        transform: translateX(-$shake-intensity);
    }
    85% {
        transform: translateX($shake-intensity);
    }
    90% {
        transform: translateX(-$shake-intensity);
    }
    95% {
        transform: translateX($shake-intensity);
    }
    100% {
        transform: translateX(-$shake-intensity);
        opacity: 1;
        visibility: hidden;
    }
}

@keyframes ghost-stealer {
    15% {
        transform: translateX(5rem);
        opacity: 0;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    40% {
        transform: translateY(0);
    }
    42% {
        transform: translateY(-$shake-intensity);
    }
    44% {
        transform: translateY(0);
    }
    46% {
        transform: translateY(-$shake-intensity);
    }
    48% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-$shake-intensity);
    }
    52% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    82% {
        transform: translateY(-$shake-intensity);
    }
    84% {
        transform: translateY(0);
    }
    86% {
        transform: translateY(-$shake-intensity);
    }
    88% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(-$shake-intensity);
    }
    92% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(5rem);
        opacity: 0;
    }
}

/* Homepage */

.index {
    visibility: hidden;
    height: 0;
    width: 100%;
    overflow: hidden;
    -webkit-animation: display-index 4000ms forwards;
    -moz-animation: display-index 4000ms forwards;
    animation: display-index 4000ms forwards;
}

@keyframes display-index {
    75% {
        height: 0;
        visibility: visible;
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: auto;
        visibility: visible;
    }
}

/* (Homepage) 1st section */

.First-section {
    display: flex;
    flex-direction: column;
}

/* (Homepage/1st section) Search field */

.search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $nd-bg-clr;
    height: 7.4rem;

    &__label {
        font-size: 2.4rem;
        height: 100%;
        width: 4rem;
        display: flex;
        align-items: center;
    }

    &__input {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &--position {
            background-color: unset;
            padding: 1rem 0rem 1rem 0.5rem;
            width: 21rem;
            border: none;
        }
    }
}

/* (Homepage/1st section) Regroup-fields (Explore-field, Notice-field) */

.regroup-fields {
    display: flex;
    flex-direction: column;
}

/* (Homepage/1st section) Explore-field */

.regroup-fields{

    &__explore-field {
        background-color: $st-bg-clr;
        height: 43.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__h3 {
            @include h3-config;
            margin-top: 5.8rem;
            text-align: center;
            width: 68%;
        }

        &__txt {
            display: inline-block;
            text-align: center;
            margin-top: 2rem;
            width: 80%;
            color: #373737;
            font-weight: $light;
            text-shadow: 0rem 0.1rem 0.2rem rgb(177, 177, 177);
        }

        &__btn {
            margin-top: 4.6rem;
            cursor: pointer;
        }
    }
}

/* (Homepage/1st section) Nav-field */

.regroup-fields {

    &__nav-field {
        height: 66rem;
        display: flex;
        flex-direction: column;

        &__h3 {
            @include h3-config;
        }

        &__btn-container {
            display: flex;
            flex-direction: column;
            margin-top: 4.4rem;
            padding-left: 3.5rem;
            list-style-type: none;
        }
    }
}

/* (Homepage/1st section) Tablet mode */

@media screen and (min-width: 769px) and (max-width: 992px) {
    
    .regroup-fields {
        flex-direction: row;
        padding-right: 1.5rem;

        &__explore-field {
            height: 66rem;
            width: 50%;
            background-color: unset;
            justify-content: space-between;

            &__h3 {
                margin-top: 6.8rem;
            }

            &__btn {
                margin-bottom: 12rem;
            }
        }

        &__nav-field {
            width: 50%;

            &__h3 {
                text-align: center;
            }
        }
    }
}


/* (Homepage/1st section) Desktop mode */

@media screen and (min-width: 993px) {
    
    .regroup-fields {

        &__explore-field {
            height: 33rem;
            width: 100%;
            justify-content: center;
            align-items: center;

            &__h3 {
                margin-top: 0rem;
            }

            &__btn {
                margin-bottom: 0;
            }
        }

        &__nav-field {
            height: 33rem;
            width: 100%;

            &__h3 {
                text-align: center;
                margin-left: 0;
            }

            &__btn-container {
                flex-direction: row;
                justify-content: center;

                & .nav-btn {
                    width: 46rem;
                }
            }
        }
    }
}

/* (Homepage) 2nd section */

.second-section {
    display: flex;
    flex-direction: column;
    background-color: $st-bg-clr;
    height: 184rem;

    &__h3 {
        @include h3-config;
    }

    &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4.5rem 3rem 0rem 3rem;

        &__deck {
            display: flex;
            width: 100%;
            position: relative;
        }
    }
}

/* (Homepage/2nd section) Desktop mode */

@media screen and (min-width: 993px) {
    
    .second-section {
        height: 109rem;

        &__h3 {
            text-align: center;
            margin-left: 0;
        }

        &__article {
            flex-direction: unset;
            flex-wrap: wrap;
            justify-content: space-evenly;

            &__deck {
                width: 45%;
            }
        }
    }
}