/* pages/_homepage.scss
================================================================================================ */

/* Loader-section */

.loader-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    -webkit-animation: loader-screen 3000ms forwards;
    -moz-animation: loader-screen 3000ms forwards;
    animation: loader-screen 3000ms forwards;
    position: relative;

    &__block {
        @include flex-center-center;

        &__cookie {
            @include heart-txt-clr;
            position: relative;
            font-size: 6rem;
            margin: 0rem 1rem;

            &__full {
                @include heart-txt-clr;
                position: absolute
            }

            &__bite {
                @include heart-txt-clr;
            }
        }
    }
    &__shout {
        display: flex;
        justify-content: center;
        font-size: 4.3rem;
        opacity: 0;
        -webkit-animation: shout 3500ms;
        -moz-animation: shout 3500ms;
        animation: shout 3500ms;
        position: relative;
        @include heart-txt-clr;
    }
}

@for $i from 1 to 4 {
    .cookie-delay-#{$i} {
        -webkit-animation: cookie-bite 1000ms forwards;
        -moz-animation: cookie-bite 1000ms forwards;
        animation: cookie-bite 1000ms forwards;
        animation-delay: 112ms * $i;
    }
}

@for $i from 1 to 4 {
    .cookie-bite-delay-#{$i} {
        -webkit-animation: cookie-eaten 1500ms forwards;
        -moz-animation: cookie-eaten 1500ms forwards;
        animation: cookie-eaten 1500ms forwards;
        animation-delay: 1000ms + (112ms * $i);
        opacity: 0;
    }
}

@keyframes loader-screen {
    75% {
        height: 100vh;
    }
    100% {
        height: 0;
    }
}

@keyframes shout {
    30% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        transform: translateY(1rem);
        opacity: 1;
        filter: blur(0.3rem);
    }
}

@keyframes cookie-bite {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY($shake-intensity);
    }
    20% {
        transform: translateY(-$shake-intensity);
    }
    30% {
        transform: translateY($shake-intensity);
    }
    40% {
        transform: translateY(-$shake-intensity);
    }
    50% {
        transform: translateY($shake-intensity);
    }
    60% {
        transform: translateY(-$shake-intensity);
    }
    70% {
        transform: translateY($shake-intensity);
    }
    80% {
        transform: translateY(-$shake-intensity);
    }
    90% {
        transform: translateY($shake-intensity);
    }
    100% {
        transform: translateY(-$shake-intensity);
        visibility: hidden;
    }
}

@keyframes cookie-eaten {
    0% {
        transform: translateY(-$shake-intensity);
        opacity: 1;
    }
    33.9% {
        transform: translateY(-$shake-intensity);
    }
    40.5% {
        transform: translateY(-$shake-intensity);
    }
    47.1% {
        transform: translateY($shake-intensity);
    }
    53.7% {
        transform: translateY(-$shake-intensity);
    }
    60.3% {
        transform: translateY($shake-intensity);
    }
    66.9% {
        transform: translateY(-$shake-intensity);
    }
    73.5% {
        transform: translateY($shake-intensity);
    }
    80.1% {
        transform: translateY(-$shake-intensity);
    }
    86.7% {
        transform: translateY($shake-intensity);
    }
    93.3% {
        transform: translateY(-$shake-intensity);
    }
    100% {
        transform: translateY(-$shake-intensity);
        opacity: 1;
        visibility: hidden;
    }
}

/* Homepage */

.index {
    visibility: hidden;
    height: 0;
    width: 100%;
    overflow: hidden;
    -webkit-animation: display-index 4000ms 1500ms forwards;
    -moz-animation: display-index 4000ms 1500ms forwards;
    animation: display-index 4000ms 1500ms forwards;
}

@keyframes display-index {
    from {
        visibility: visible;
        opacity: 0;
        height: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}

/* (Homepage) 1st section */

.First-section {
    display: flex;
    flex-direction: column;
}

/* (Homepage/1st section) Search field */

.search-field {
    @include flex-center-center;
    background-color: $nd-bg-clr;
    height: 7.4rem;

    &__label {
        font-size: 2.4rem;
        height: 100%;
        width: 4rem;
        display: flex;
        align-items: center;
    }

    &__input {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &--position {
            background-color: unset;
            padding: 1rem 0rem 1rem 0.5rem;
            width: 21rem;
            border: none;
        }
    }
}

/* (Homepage/1st section) Regroup-fields (Explore-field, Notice-field) */

.regroup-fields {
    display: flex;
    flex-direction: column;
}

/* (Homepage/1st section) Explore-field */

.regroup-fields{

    &__explore-field {
        background-color: $st-bg-clr;
        height: 43.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__h3 {
            @include h3-config;
            margin-top: 5.8rem;
            text-align: center;
            width: 68%;
        }

        &__txt {
            display: inline-block;
            text-align: center;
            margin-top: 2rem;
            width: 80%;
            color: #373737;
            font-weight: $light;
            text-shadow: 0rem 0.1rem 0.2rem rgb(177, 177, 177);
        }

        &__btn {
            margin-top: 4.6rem;
            cursor: pointer;
        }
    }
}

/* (Homepage/1st section) Nav-field */

.regroup-fields {

    &__nav-field {
        height: 66rem;
        display: flex;
        flex-direction: column;

        &__h3 {
            @include h3-config;
        }

        &__btn-container {
            display: flex;
            flex-direction: column;
            margin-top: 4.4rem;
            padding-left: 3.5rem;
            list-style-type: none;
        }
    }
}

/* (Homepage/1st section) Tablet mode */

@media screen and (min-width: 769px) and (max-width: 992px) {
    
    .regroup-fields {
        flex-direction: row;
        padding-right: 1.5rem;

        &__explore-field {
            height: 66rem;
            width: 50%;
            background-color: unset;
            justify-content: space-between;

            &__h3 {
                margin-top: 6.8rem;
            }

            &__btn {
                margin-bottom: 12rem;
            }
        }

        &__nav-field {
            width: 50%;

            &__h3 {
                text-align: center;
            }
        }
    }
}


/* (Homepage/1st section) Desktop mode */

@media screen and (min-width: 993px) {
    
    .regroup-fields {

        &__explore-field {
            @include flex-center-center;
            height: 33rem;
            width: 100%;

            &__h3 {
                margin-top: 0rem;
            }

            &__btn {
                margin-bottom: 0;
            }
        }

        &__nav-field {
            height: 33rem;
            width: 100%;

            &__h3 {
                text-align: center;
                margin-left: 0;
            }

            &__btn-container {
                flex-direction: row;
                justify-content: center;

                & .nav-btn {
                    width: 46rem;
                }
            }
        }
    }
}

/* (Homepage) 2nd section */

.second-section {
    display: flex;
    flex-direction: column;
    background-color: $st-bg-clr;
    height: 184rem;

    &__h3 {
        @include h3-config;
    }

    &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4.5rem 3rem 0rem 3rem;

        &__deck {
            display: flex;
            width: 100%;
            position: relative;
        }
    }
}

/* (Homepage/2nd section) Desktop mode */

@media screen and (min-width: 993px) {
    
    .second-section {
        height: 109rem;

        &__h3 {
            text-align: center;
            margin-left: 0;
        }

        &__article {
            flex-direction: unset;
            flex-wrap: wrap;
            justify-content: space-evenly;

            &__deck {
                width: 45%;
            }
        }
    }
}