// Mixins
// ================================================================================================

// Fonts

@mixin font-standard {
    font-size: 2.2rem;
    font-weight: $bold;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Buttons

@mixin btn-position-before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

// Heart

@mixin heart-txt-clr {
    background: -webkit-linear-gradient($primary-clr, $secondary-clr);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: txt;
    text-decoration-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;
}

@mixin heart-hover-animation {
    -webkit-animation: heart-hover 1100ms;
    -moz-animation: heart-hover 1100ms;
    animation: heart-hover 1100ms;
    animation-iteration-count: infinite;
}

@mixin heart-checked-animation {
    -webkit-animation: heart-checked 1200ms forwards;
    -moz-animation: heart-checked 1200ms forwards;
    animation: heart-checked 1200ms forwards;
    z-index: 4;
}

// Section titles

@mixin h3-config {
    display: inline-block;
    margin: 6.8rem 0rem 0rem 3rem;
}

@media screen and (min-width: 993px) { /* Desktop mode */
    
    @mixin h3-config {
        margin: 6.8rem 0rem 0rem 0rem;
    }
}