// Mixins
// ================================================================================================

// Fonts

@mixin font-standard {
    font-size: 2.2rem;
    font-weight: $bold;
}

// Section titles

@mixin h3-config {
    display: inline-block;
    margin: 6.8rem 0rem 0rem 3rem;
}

@media screen and (min-width: 993px) { /* Desktop mode */
    
    @mixin h3-config {
        margin: 6.8rem 0rem 0rem 0rem;
    }
}