// Variables
// ================================================================================================

// font-family

$ft-shrik: 'Shrikhand', 'sans-serif';
$ft-robot: 'Roboto', 'sans-serif';

// box-shadow

$shadow-light: 0rem 0.4rem 1.5rem rgb(223, 223, 223);
$shadow-dark: 0rem 0.1rem 1.5rem #bdbdbd;

// background-color

$st-bg-clr: #f6f6f6;
$nd-bg-clr: #eaeaea;
$bg-degraded: linear-gradient(355deg, #4a4a9e 0%, #9356dc 0%, #ff79da 100%);

// Roboto font-weight

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 900;

// color themes

$primary-clr: #9356dc;
$secondary-clr: #FF79da;
$tertiary-clr: #99e2d0;

// loader cookie

$shake-intensity: 10%;

// Restaurant page thumbnail animation properties //

$height-start: 12rem;
$height-end: 10.2rem;
$anim-duration: 1500ms;
$anim-delay: 150ms;
$thumbnail-nbr: 10;